.container {
  width: min(calc(100% - 40px), var(--container-width));
  margin-inline: auto;
}

@media (max-width: 700px) {
  .container {
    width: min(calc(100% - 28px), var(--container-width));
  }
}
